{% extends "GesParc/home_GesParc.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Assurance <small>( historiques des Assurances )</small></h2>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <!-- invoice section -->
        <div class="col-md-12">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">
                    <div class="heading1 margin_0">
                        <h2><i class="fa fa-file-text-o"></i> Assurances</h2>
                    </div>
                </div>
                <div class="full padding_infor_info">
                    <!-- Bouton pour ajouter une nouvelle assurance -->
                    {% comment %} <div class="mb-3">
                        <a href="{% url 'ajouter_assurance' %}" class="btn btn-success">
                            <i class="fa fa-plus"></i> Ajouter une nouvelle assurance
                        </a>
                    </div> {% endcomment %}
                    <div class="table_row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Compagnie Assurance</th>
                                        <th>Date Debut</th>
                                        <th> Date Fin</th>
                                        <th>Montant </th>
                                        <th>Statut</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for assurance in assurances %}
                                    <tr>
                                        <td>{{ assurance.compagnie_assurance }}</td>
                                        <td>{{ assurance.date_debut }}</td>
                                        <td>{{ assurance.date_fin }}</td>
                                        <td>{{ assurance.prime_annuelle }}</td>
                                        <td>
                                            {% if assurance.statut == 'Expiree' %}
                                            <span style="color: red;">Expiree</span>
                                            {% else %}
                                            <span style="color: green;">Valide</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <!-- Bouton pour ouvrir la fenêtre modale -->
                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modifierAssuranceModal{{ assurance.id }}">
                                                Renouveler
                                            </button>
                                            <!-- Fenêtre modale -->
                                            <div class="modal fade" id="modifierAssuranceModal{{ assurance.id }}" tabindex="-1" role="dialog" aria-labelledby="modifierAssuranceModalLabel{{ assurance.id }}" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modifierAssuranceModalLabel{{ assurance.id }}">Modifier Assurance</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <!-- Formulaire pour la modification de l'assurance -->
                                                            <form method="post" action="{% url 'modifier_assurance' assurance.id %}">
                                                               {% csrf_token %}
                                                           
                                                               <!-- Champs modifiables -->
                                                               <div class="form-group">
                                                                   <label for="compagnie_assurance">Compagnie d'assurance :</label>
                                                                   <input type="text" class="form-control" id="compagnie_assurance" name="compagnie_assurance" value="{{ assurance.compagnie_assurance }}" required>
                                                               </div>
                                                           
                                                               <div class="form-group">
                                                                   <label for="numero_police">Numéro de police :</label>
                                                                   <input type="text" class="form-control" id="numero_police" name="numero_police" value="{{ assurance.numero_police }}" required>
                                                               </div>
                                                           
                                                               <div class="form-group">
                                                                   <label for="date_debut">Date de début :</label>
                                                                   <input type="date" class="form-control" id="date_debut" name="date_debut" value="{{ assurance.date_debut }}" required>
                                                               </div>
                                                           
                                                               <div class="form-group">
                                                                   <label for="date_fin">Date de fin :</label>
                                                                   <input type="date" class="form-control" id="date_fin" name="date_fin" value="{{ assurance.date_fin }}" required>
                                                               </div>
                                                           
                                                               <div class="form-group">
                                                                   <label for="prime_annuelle">Prime annuelle :</label>
                                                                   <input type="number" class="form-control" id="prime_annuelle" name="prime_annuelle" value="{{ assurance.prime_annuelle }}" required>
                                                               </div>
                                                           
                                                               <!-- Bouton pour enregistrer les modifications -->
                                                               <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                                                           </form>
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
