<style>
    /* Ajoutez ici votre CSS personnalisé */
    body {
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .card-header {
        background-color: #ff8800e7;
        color: #fff;
    }

    .btn-primary {
        background-color:  #ff8800e7;
        border-color:  #ff8800e7;
    }

    /* Ajoutez d'autres styles selon vos besoins */
</style>

<div class="container">
    <div class="card">
        <div class="card-header">Réinitialisation du Mot de Passe</div>
        <div class="card-body">
            <h2>Message de réinitialisation du mot de passe envoyé</h2>
            <p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu'un compte existe avec l'adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>

            <p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels.</p>

            <a href="{% url 'login' %}" class="btn btn-primary">Retour à la Connexion</a>
        </div>
    </div>
</div>
