{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-4">
      <div class="reset-password-request-container p-4">
        <h2 class="text-center">Réinitialisation du mot de passe</h2>
        <p class="text-center">Mot de passe perdu ? Saisissez votre adresse électronique ci-dessous et nous vous enverrons les instructions pour en créer un nouveau.</p>
        <form method="post">
          {% csrf_token %}
          {% if form.email.errors %}
          <div class="alert alert-danger">
            {% for error in form.email.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}
          <div class="form-group">
            <label for="id_email">{{ form.email.label_tag }}</label>
            {{ form.email }}
          </div>
          <button type="submit" class="btn btn-primary btn-block">M'envoyer les instructions</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
