{%load static%}

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title> Espace Gestionnaire Parc</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" type="image/x-icon" href="{% static 'style/images/logo/logo_icon.png'%}">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

      <link rel="stylesheet" href="{%static 'style/css/bootstrap.min.css'%}" />
      <!-- site css -->
      <link rel="stylesheet" href="{%static 'style/style.css'%}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{%static 'style/css/responsive.css'%}" />
      <!-- color css -->
 
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{%static 'style/css/bootstrap-select.css'%}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{%static 'style/css/perfect-scrollbar.css'%}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{%static 'style/css/custom.css'%}" />
      <!-- calendar file css -->
   
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="inner_page map">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
               <div class="sidebar_blog_1">
                  <div class="sidebar-header">
                     <div class="logo_section">
                        <a href="#"><img class="logo_icon img-responsive" src="{%static 'style/images/logo/logo_icon.png '%}" alt="#" /></a>
                     </div>
                  </div>
                  <div class="sidebar_user_info">
                     <div class="icon_setting"></div>
                     <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="{{user.gestionnaireparc.photo.url}}" alt="#" /></div>
                        <div class="user_info">
                           <h6>{{user.get_full_name}}</h6>
                           <p><span class="online_animation"></span> Online</p>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li>
                        <a class="nav-link" href="{% url 'liste_toutes_reservations' %}">
                           <i class="fa fa-history mr-2"></i> Historique des Réservations
                       </a>
                     </li>
                     
                     <li><a href="{%url 'gestionnaire_parc_profile'%}"><i class="fa fa-dashboard yellow_color "></i> <span>Dashbord</span></a></li>
                     <li>
                        <a href="#reservation" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-paper-plane red_color"></i> <span>Reservation</span></a>
                        <ul class="collapse list-unstyled" id="reservation">
                           <li><a href="{%url 'gerer_reservations_attente' %}"> <span>En Attente</span></a></li>
                           <li><a href="{%url 'gerer_reservations_accepter'%}"> <span>Validée</span></a></li>
                           <li><a href="{%url 'gerer_reservations_refuse'%}"> <span>Refusée</span></a></li>
                           
                        </ul>
                        
                     </li>
                     <li>
                        <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-car" style="color: #214ed4;"></i>
                           <span>Flotte</span></a>
                        <ul class="collapse list-unstyled" id="element">
                           <li><a href="{%url 'creer_vehicule'%}"> <span>Nouveau Vehicule</span></a></li>
                           <li><a href="{%url 'liste_vehicules'%}"> <span>Liste Vehicule</span></a></li>
                           
                        </ul>
                     </li>
                     <li>
                        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-gas-pump" style="color: #f47710;"></i> <span>Gerer Consommation</span></a>
                        <ul class="collapse list-unstyled" id="apps">
                           <li><a href="{%url 'liste_donnees_consommation_carburant'%}"> <span>Historique Consommation</span></a></li>
                           
                        </ul>
                     </li>
                     <li><a href="{%url 'liste_assurances'%}"><i class="fa-solid fa-car-burst" style="color: #66b4f0;"></i> <span>Assurance</span></a></li>
                     <li>
                        <a href="#chauffeur" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa-solid fa-users"></i> <span>Gerer Conducteurs</span></a>
                        <ul class="collapse list-unstyled" id="chauffeur">
                           <li><a href="{%url 'creer_conducteur' %}"> <span>Nouveau Conducteur</span></a></li>
                           <li><a href="{%url 'liste_conducteurs'%}"> <span>Liste Conducteurs</span></a></li>
                           
                        </ul>
                     </li>
                     
                     
                  </ul>
               </div> 
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
               <div class="topbar">
                  <nav class="navbar navbar-expand-lg navbar-light">
                     <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                           <a href="#"><img class="img-responsive" src="{%static 'style/images/logo/myfleet1.png '%}" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                           <div class="icon_info">
                              <!-- <ul>
                                 <li id="notification">
                                    <a href="#"><i class="fa fa-bell-o"></i><span id="notification-count" class="badge"></span></a>
                                    
                                </li>
                                 <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                 <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                              </ul> -->
                              <ul class="user_profile_dd">
                                 <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{{ user.gestionnaireparc.photo.url }}" alt="#" /><span class="name_user">{{user.get_full_name}}</span></a>
                                    <div class="dropdown-menu">
                                       <a class="dropdown-item" href="{%url 'update_profile'%}">Mon Profil</a>
                                       
                                       <a class="dropdown-item" href="{%url 'logout'%}"><span>Deconnexion</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </nav>
               </div>

               {%block content%}
               
               {% endblock %}
                  <!-- footer -->
         
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Copyright © 2023 My<span style="color: #f47710;">Fleet</span> Tout Droit Réservé.</p>
                     </div>
                  </div>
               </div>
               <!-- end dashboard inner -->
            </div>
         </div>
      </div>
      <!-- jQuery -->
      <script src="{%static 'style/js/jquery.min.js'%}"></script>
    
      <script src="{%static 'style/js/bootstrap.min.js'%}"></script>
      <!-- wow animation -->
      <script src="{%static 'style/js/animate.js'%}"></script>
 
   
      <!-- nice scrollbar -->
      <script src="{%static 'style/js/perfect-scrollbar.min.js'%}"></script>
      <!-- custom js -->
      <script src="{%static 'style/js/custom.js'%}"></script>
   

            <!-- chart js -->

            <!-- nice scrollbar -->
            <script src="{%static 'style/js/perfect-scrollbar.min.js'%}"></script>
            <script>
               var ps = new PerfectScrollbar('#sidebar');
            </script>
            <!-- fancy box js -->
            <script src="{%static 'style/js/jquery-3.3.1.min.js'%}"></script>
            <script src="{%static 'style/js/jquery.fancybox.min.js'%}"></script>

            <script>
               $(document).ready(function() {
                   $('#reservationTable').DataTable({
                       paging: true,
                       searching: true,
                       ordering: true,
                       info: true
                   });
               });
           </script>

            <script>
                $(document).ready(function() {
                    // Initialisation de Fancybox pour les éléments ayant l'attribut data-fancybox="gallery"
                    $("[data-fancybox='gallery']").fancybox({
                        // Options de configuration de Fancybox ici
                    });
                });
            </script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
   </body>
</html>