{% extends 'GesParc/home_gesparc.html' %}
{% load static %}

{% block content %}
<style>
    /* ... Votre CSS existant ... */

    /* Style pour le conteneur principal */
    .midde_cont {
        padding: 30px 0;
    }

    /* Style pour le titre de la page */
    .page_title h2 {
        font-size: 28px;
        color: #333;
        margin: 0;
    }

    /* Style pour le conteneur des colonnes */
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start; /* Alignez les éléments en haut */
    }

    /* Style pour chaque colonne */
    .col-md-6 {
        flex: 0 0 50%; /* Répartissez l'espace en deux colonnes égales */
        max-width: 50%; /* Limitez la largeur à 50% */
        box-sizing: border-box; /* Incluez les bordures et les marges dans la largeur */
        padding: 10px; /* Ajoutez un peu d'espacement */
    }

    /* Style pour l'image du véhicule */
    .vehicle-image img {
        max-width: 100%;
        height: 30%;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    /* Style pour les informations du véhicule */
    .vehicle-info {
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
</style>


<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Espace Modification</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Formulaire de modification -->
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Modifier le véhicule : {{ vehicule }}</h2>
                        </div>
                    </div>
                    <div class="full price_table padding_infor_info">
                        <div class="row">
                            <div class="col-md-12">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    
                                    <div class="form-group">
                                        <label for="{{ form.compagnie_assurance.id_for_label }}">Assurance :</label>
                                        <select class="form-control" id="{{ form.compagnie_assurance.id_for_label }}" name="{{ form.compagnie_assurance.name }}">
                                            {% for assurance in assurances %}
                                                <option value="{{ assurance.id }}" {% if vehicule.assurance.id == assurance.id %}selected{% endif %}>{{ assurance.compagnie_assurance }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    
                                    
            
                                    <div class="form-group">
                                    <label for="id_marque">Marque :</label>
                                        <input type="text" class="form-control" id="id_marque" name="marque" value="{{ vehicule.marque }}">
                                    </div>
            
                                    <div class="form-group">
                                        <label for="id_modele">Modèle :</label>
                                        <input type="text" class="form-control" id="id_modele" name="modele" value="{{ vehicule.modele }}">
                                    </div>
            
                                    <div class="form-group">
                                        <label for="id_photo">Photo :</label>
                                        <input type="file" class="form-control" id="id_photo" name="photo" value="{{ vehicule.photo }}>
                                    </div>
            
                                    <div class="form-group">
                                        <label for="id_annee_fabrication">Année de fabrication :</label>
                                        <input type="number" class="form-control" id="id_annee_fabrication" name="annee_fabrication" value="{{ vehicule.annee_fabrication }}">
                                    </div>
            
                                    <div class="form-group">
                                        <label for="id_num_immatriculation">Numéro d'immatriculation :</label>
                                        <input type="text" class="form-control" id="id_num_immatriculation" name="numéro_immatriculation" value="{{ vehicule.numéro_immatriculation }}">
                                    </div>
            
                                    <div class="form-group">
                                        <label for="id_kilometrage">Kilométrage :</label>
                                        <input type="number" class="form-control" id="id_kilometrage" name="kilometrage" value="{{ vehicule.kilometrage }}">
                                    </div>
            
                                    <div class="form-group">
                                        <label for="id_typeCarburant">Type de carburant :</label>
                                        <select class="form-control" id="id_typeCarburant" name="typeCarburant">
                                            <option value="Gazoil" {% if vehicule.typeCarburant == 'Gazoil' %}selected{% endif %}>Gazoil</option>
                                            <option value="Essence" {% if vehicule.typeCarburant == 'Essence' %}selected{% endif %}>Essence</option>
                                        </select>
                                    </div>
            
                                    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                                </form>
                                <a href="{% url 'liste_vehicules' %}" class="btn btn-secondary mt-3">Retour à la liste des véhicules</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <!-- Image du véhicule -->
                <div class="vehicle-image">
                    <img src="{{ vehicule.photo.url }}" alt="{{ vehicule.marque }} {{ vehicule.modele }}" class="img-fluid">
                </div>

                <!-- Informations du véhicule -->
                <div class="vehicle-info">
                    <h2>{{ vehicule.marque }} {{ vehicule.modele }}</h2><br>
                    <p><strong>Année :</strong> {{ vehicule.annee_fabrication }}</p>
                    <p><strong>Kilometrage :</strong> {{ vehicule.kilometrage }}</p>
                    <p><strong>Numéro de plaque :</strong> {{ vehicule.numéro_immatriculation }}</p>
                    <p><strong>Carburant :</strong> {{ vehicule.typeCarburant }}</p>
                    <!-- Ajoutez d'autres champs ici selon votre modèle -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
