{% extends 'GesIntervention/GesInterv_home.html' %}
{%load static%}

{% block content %}
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Espace Maintenance</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Formulaire de modification -->
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Nouvelle Maintenance</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
            <h2>Ajouter une Maintenance</h2><br>
            <form method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_vehicule">Véhicule :</label>
                    {{form.vehicule}}
                  </div>
            
                <div class="form-group">
                  <label for="id_date_maintenance">Date de Maintenance :</label>
                  <input type="datetime-local" name="date_maintenance" id="id_date_maintenance" class="form-control">
                </div>
            
                <div class="form-group">
                  <label for="id_description">Description :</label>
                  <textarea name="description" id="id_description" class="form-control"></textarea>
                </div>
            
                <div class="form-group">
                  <label for="id_cout">Coût :</label>
                  <input type="number" name="cout" id="id_cout" step="0.01" class="form-control">
                </div>
                
                <!-- Champ caché pour la prochaine maintenance -->
                <input type="hidden" name="prochaine_maintenance" id="id_prochaine_maintenance">
                
                <!-- Ajoutez d'autres champs ici selon votre modèle Maintenance -->

                <button type="submit" class="btn btn-primary">Ajouter Maintenance</button>
            </form>
        </div>
    </div>
</div>

<script>
    // JavaScript pour calculer la prochaine maintenance prévue
    document.getElementById('id_date_maintenance').addEventListener('change', function() {
        var dateMaintenance = new Date(this.value);
        dateMaintenance.setDate(dateMaintenance.getDate() + 30); // Ajoute 30 jours
        var formattedDate = dateMaintenance.toISOString().slice(0, 10); // Format AAAA-MM-JJ
        document.getElementById('id_prochaine_maintenance').value = formattedDate;
    });
</script>

  

{% endblock %}
