{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title> Espace Employé</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    
    <link rel="icon" type="image/x-icon" href="{% static 'style/images/logo/logo_icon.png'%}">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'style/css/bootstrap.min.css' %}" />
    <!-- site css -->
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'style/css/responsive.css' %}" />
    <!-- color css -->
    <link rel="stylesheet" href="{% static 'style/css/colors.css' %}" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="{% static 'style/css/bootstrap-select.css' %}" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="{% static 'style/css/perfect-scrollbar.css' %}" />
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'style/css/custom.css' %}" />
    <!-- calendar file css -->
    <link rel="stylesheet" href="{% static 'style/js/semantic.min.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="inner_page map">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar" style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="#"><img class="logo_icon img-responsive" src="{% static 'style/images/logo/logo_icon.png' %}" alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" src="{{user.employé.photo.url}}" alt="#" /></div>
                            <div class="user_info">
                                <h6>{{user.get_full_name}}</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4>General</h4>
                    <ul class="list-unstyled components">
                        <li>
                           
                            <a href="{% url 'historique_reservations' %}">
                                <i class="fas fa-history"></i> Historique des Réservations
                            </a>

                        </li>
                        <li>
                            <a href="{% url 'creer_reservation' %}">
                                <i class="fa fa-paper-plane red_color"></i> <span>Reservation</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'liste_vehicules_disponible' %}">
                                <i class="fa fa-car"></i><span>Voitures</span>
                            </a>
                        </li>
                       

                        

                    </ul>
                </div>
                <div class="sidebar_blog_2" style="margin-top: auto;">
                    <ul class="list-unstyled components">
                        <li style="margin-top: auto;">
                            <a href="{% url 'logout' %}">
                                <i class="fa fa-sign-out"></i> <span>Déconnexion</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            <div class="logo_section">
                                <a href="#"><img class="img-responsive" src="{% static 'style/images/logo/myfleet1.png' %}" alt="#" /></a>
                            </div>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{{user.employé.photo.url}}" alt="#" /><span class="name_user">{{user.get_full_name}}</span></a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="{%url 'update_profile'%}">Mon Profil</a>
                                                <a class="dropdown-item" href="{% url 'logout' %}"><span>Deconnexion</span> <i class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>

                {% block content %}
                
                {% endblock %}
                <!-- footer -->
                <div class="container-fluid">
                    <div class="footer">
                        <p>Copyright © 2023 My<span style="color: #f47710;">Fleet</span> Tout Droit Réservé.</p>
                    </div>
                </div>
            </div>
            <!-- end dashboard inner -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script src="{% static 'style/js/popper.min.js' %}"></script>
    <script src="{% static 'style/js/bootstrap.min.js' %}"></script>
    <!-- wow animation -->
    <script src="{% static 'style/js/animate.js' %}"></script>
    <!-- select country -->
    <script src="{% static 'style/js/bootstrap-select.js' %}"></script>
    <!-- owl carousel -->
    <script src="{% static 'style/js/owl.carousel.js' %}"></script> 
    <!-- nice scrollbar -->
    <script src="{% static 'style/js/perfect-scrollbar.min.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'style/js/custom.js' %}"></script>
    <!-- google map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=initMap"></script>
    <!-- end google map js -->

    <!-- chart js -->
    <script src="{% static 'style/js/Chart.min.js' %}"></script>
    <script src="{% static 'style/js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'style/js/utils.js' %}"></script>
    <script src="{% static 'style/js/analyser.js' %}"></script>
    <!-- fancy box js -->
    <script src="{% static 'style/js/jquery.fancybox.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            // Initialisation de Fancybox pour les éléments ayant l'attribut data-fancybox="gallery"
            $("[data-fancybox='gallery']").fancybox({
                // Options de configuration de Fancybox ici
            });
        });
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
</body>
</html>
